# Virtualenv
.venv/

# MacOS / IDEs
**/.DS_Store
**/.idea

# Logs
logs/
*.log

# Shortcut / Alias
*.alias
*.lnk

# PID file
*.pid

# Audiofiles
*.wav

# Video backups
video/Backup/

# Node
node_modules/
package.json
package-lock.json