# Video config
video/config.json
video/*.toe
video/Backup

# Virtualenv
.venv/

# MacOS
**/.DS_Store
**/.idea

# Logs
Logs/
*.log

# Shortcut / Alias
*.alias
*.lnk

# PID file
*.pid

# Audiofiles
*.wav
node_modules/
package.json
package-lock.json

# Presets
*.txt